@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>.</h2>
        <h3>Drafts page.</h3>
    </div>
</body>
</html>
